
body {
  background-color: black;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
ul {
  font-size: 14px;
}
h3 {
  height: 3em;
}
.bgimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 106vh;
  opacity: 1;
  z-index: -1;
  background-repeat: round;
}
.flex-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  max-height: 94vh;
}
.flex-block div h3 {
  text-align: center;
}
.wikipedia-container ul {
  padding: 0;
}
/* =========================== */
.hh-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  overflow-y: overlay;
}
.wikipedia-container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-y: overlay;
}
.nytimes-container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-y: overlay;
}
/* =========================== */
.nytimes-container .article-list .article p {
  font-size: 12px;
  margin: 4px 0 4px 10px;
}
.article-list {
  margin: 0;
  padding: 0;
}
.article {
  list-style-type: none;
  border-top: 1px solid black;
  padding-top: 4px;
}
.article:first-child {
  border-top: none;
}
.hh-container .vacancy-list li p {
  font-size: 12px;
  margin: 0 0 0 10px;
}
.hh-container .vacancy-list li {
  list-style: none;
}
.hh-container .vacancy-list li a {
  color: red;
}
.hh-container .vacancy-list {
  padding-left: 0;
}
.form-container > label {
  color: white;
}
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}
.form-container input {
  font-size: 20px;
}
#submit-btn {
  padding: 0 10px;
  font-size: 20px;

}
iframe {
  /*margin-top: 10px;*/
}
/* ========================================================================== */
.dropdown {
    color: black;
    cursor: default;
    display: inline-block;
    position: relative;
    width: 233px;
    text-align: center;
    border: 1px solid black;
}
.option {
    position: relative;
    text-align: left;
}
.option_label {
    background-color: white;
    padding: 1px 10px;
    position: relative;
    white-space: nowrap;
    transition: background-color 0.2s;
}
.option_label:hover {
    background-color: #b9b9b9;
}
.option_children {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 11px;
    border: 1px solid black;
}
.dropdown > .option_children {
    left: -1px;
    top: 100%;
    width: calc(100% + 2px);
}
.option:hover > .option_children,
.option_children:hover,
.option_label:hover ~ .option_children {
    display: block;
}
