
body {
  background-color: black;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
ul {
  font-size: 14px;
}
h3 {
  height: 3em;
}
.bgimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 106vh;
  background-repeat: round;
  opacity: 1;
  z-index: -1;
}
.flex-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row-reverse;
          justify-content: center;
  height: 94vh;
  max-height: 94vh;

}
.flex-block div h3 {
  text-align: center;
}
.wikipedia-container ul {
  padding: 0;
}
/* =========================== */
.hh-container {
  padding: 10px;
  padding-right: 30px;
  overflow-y: overlay;
  background-color: rgba(255, 255, 255, 0.7);
}
.wikipedia-container {
  padding: 10px;
  overflow-y: overlay;
  background-color: rgba(255, 255, 255, 0.7);
}
.nytimes-container {
  padding: 10px;
  padding-right: 30px;
  overflow-y: overlay;
  background-color: rgba(255, 255, 255, 0.7);
}
/* =========================== */
.nytimes-container .article-list .article p {
  margin: 4px 0 4px 10px;
  font-size: 12px;
}
.article-list {
  margin: 0;
  padding: 0;
}
.article {
  padding-top: 4px;
  border-top: 1px solid black;
  list-style-type: none;
}
.article:first-child {
  border-top: none;
}
.hh-container .vacancy-list li p {
  margin: 0 0 0 10px;
  font-size: 12px;
}
.hh-container .vacancy-list li {
  list-style: none;
}
.hh-container .vacancy-list li a {
  color: red;
}
.hh-container .vacancy-list {
  padding-left: 0;
}
.form-container > label {
  color: white;
}
.form-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
          justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
}
.form-container input {
  font-size: 20px;
}
#submit-btn {
  padding: 0 10px;
  font-size: 20px;

}
/* ========================================================================== */
.dropdown {
    display: inline-block;
    position: relative;
    width: 233px;
    border: 1px solid black;
    color: black;
    text-align: center;
    cursor: default;
}
.option {
    position: relative;
    text-align: left;
}
.option_label {
    -webkit-transition: background-color 0.2s;
    position: relative;
    padding: 1px 10px;
    background-color: white;
    white-space: nowrap;
    transition: background-color 0.2s;
}
.option_label:hover {
    background-color: #b9b9b9;
}
.option_children {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border: 1px solid black;
    font-size: 11px;
}
.dropdown > .option_children {
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
}
.option:hover > .option_children,
.option_children:hover,
.option_label:hover ~ .option_children {
    display: block;
}
